body {
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
}

h2 {
  color: #333333;
}

.action-btn {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Makes the color change smooth */
}

/* This applies when the mouse hovers over the button */
.action-btn:hover {
  background-color: #45a049;
}